body{
  margin: 0rem;
  padding: 0rem;
 
}

.container.bg-pink {
  background-color: #F1419A;
}
.container.bg-purple{
  background-color: #C785C8;
}

.button .search-button{
  background-color: #F1419A;
}

.card .bg-pink{
  background-color: #F1419A;

}

.card-header{
  background-color: aquamarine;
}

h1{
  position: center;
}
            
